body {
  background-color: charcoalgray;
  font-family: sans-serif;
  background-color: black;
}

.main {
  width: 90vw;
  margin: auto;
  background-color: #00C1FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.header {
  width: 90vw;
  margin: 1rem 0 0.5rem;
  background-color: #FF7800;
  font-family: 'Bungee Hairline', cursive;
  font-size: 5rem;
  color: white;
  text-align: center;
  max-width: 800px;
}

.header__logo-text {
  margin: 0;
}

.repos__link {
  width: 95%;
  color: inherit;
  text-decoration: inherit;
}

.repos {
  width: 95%;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 2%;
  margin: 3%;
}

.repos__left {
  width: 10%;
}

.language {
  font-size: 2rem;
  color: navy;
  padding-right: 1rem;
}

.repos__middle {
  width: 80%;
}

.repos__right {
  font-size: 2rem;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.star-count {
  margin: 0.5rem 0;
}
