body {
  background-color: charcoalgray;
  font-family: sans-serif;
}

.main {
  width: 90vw;
  margin: auto;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.repos {
  width: calc(40rem + 2vw);
  height: calc(15rem + 2vw);
  border: 2px white solid;
  padding: 1rem;
  margin: 2rem;
  text-align: center;
}
